{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mail sent Page</title>
    <link rel="icon" href="{% static "images/favicon.png" %}" type="image/png">

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
  </head>
  <body>
    <div class="forlog_main_container">
        <div class="forlog-container">
            <div class="forlog-img-container ">
              <img src="{% static "images/mail_sent_img.jpg" %}" alt="login img" />
            </div>
        <div class="forlog-form reset_done">
            <div class="forgot-icon">
                <i class="fa-solid fa-envelope-circle-check"></i>
            </div>

            <h3>Check Your Inbox, Please!</h3>
            <p>
                We've emailed you instructions for resetting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
               
            <a href="{% url 'login' %}?group={{ group|default:'teacher' }}" id="back-to-login">&lt; &nbsp; Back To Login</a>
      </div>
      </div>
    </div>
    <script src="{% static "js/index.js" %}" ></script>
  </body>    
</html>