{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Password Page</title>
    <link rel="icon" href="{% static "images/favicon.png" %}" type="image/png">

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
  </head>
  <body>
    <div class="forlog_main_container">
      <div class="forlog-container">
        <div class="forlog-img-container reset_img">
          <img src="{% static "images/newpassword.jpg" %}" alt="login img" />
        </div>
        <div class="forlog-form">
            <div class="forgot-icon">
                <i class="fas fa-light fa-key"></i>
              </div>
              {% if group == 'admin' %}
              <h2>Reset Password for Admins</h2>
            {% elif group == 'teacher' %}
              <h2>Reset Password for Teachers</h2>
            {% else %}
              <h2>Reset Your Password</h2>
            {% endif %}
            
        <h3>Enter New Password</h3>
        <p>please enter your new password twice so we can verify you typed it in correctly.</p>
          <form method="POST" action="?group={{ group }}" class="forlog">
            {% csrf_token %}
            {{ form.errors }}
            <div class="input-group">
                <i class="fas fa-lock icon"></i>
                <input type="password" name="new_password1" placeholder="New Password" required>
                <button type="button" class="toggle-password">
                  <i class="fas fa-eye"></i>
                </button>
            </div>
            <div class="input-group">
              <i class="fas fa-lock icon"></i>
              <input type="password" name="new_password2" placeholder="Confirm New Password" required>
              <button type="button" class="toggle-password">
                <i class="fas fa-eye"></i>
              </button>
            </div>
            <input type="hidden" name="group" value="{{ group }}">

            <button type="submit" class="forlog-btn">Set Password</button>
          </form>
          {% if messages %}
          <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
        </div>
      </div>
    </div>
    <script src="{% static "js/index.js" %}" ></script>
  </body>
</html>