{% autoescape off %}
📩 **Password Reset Request**  

Hello {{ user.get_username }},  

We received a request to reset your password. If you made this request, please click the link below to set a new password:  

🔗[Reset Your Password]:{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}?group={{ group }}

If you didn’t request a password reset, you can safely ignore this email your account is secure.  

Username: {{ user.get_username }}  

Thank you for being a valued member of our community!  

Best Regards,  
Srinath University 
{% endautoescape %}
