{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Profile</title>
    <link rel="icon" href="{% static "images/favicon.png" %}" type="image/png">
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/responsive.css" %}" />
  </head>
  <body>
    <div class="hamburger" id="hamburger">
    <i class="fa-solid fa-bars"></i>
  </div>
    <div class="a-page">
       <aside class="a-sidebar" id="sidebar">   
        <div class="close-btn" id="closeBtn">
         <i class="fa-solid fa-xmark"></i>
       </div>
        <img
          src="{% static "images/su-logo-white.png" %}"
          alt="SU-logo-white"
          class="su-logo-white"
        />
        <div class="line-below-logo"></div>
        <div class="a-sidebar-links">
          <a 
          href="{% url "teacher_profile" %}" 
          class="teacher-profile">
            <i class="fa-solid fa-user" style="color: #fdb813"></i>
            <span style="color: #fdb813">Manage Your Profile</span>
          </a>
          <a
            href="{% url "mark_attendance" %}"
            class="mark-attendance"
          >
            <i class="fa-regular fa-square-check"></i>
            <span>Mark Attendance</span>
          </a>
          <a
            href="{% url "attendance_record" %}"
            class="attendance-record"
          >
            <i class="fa-regular fa-clipboard"></i>
            <span>Attendance Record</span>
          </a>

           <a
        href="{% url "attendance_analytics" %}"
        class="analytics"
      >
      <i class="fa-solid fa-chart-line"></i>
        <span>Attendance Analytics</span>
      </a>

          <div class="line-above-logout"></div>
          <a 
          href="{% url "logout" %}" 
          class="logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Logout</span>
          </a>
        </div>
      </aside>
      <div class="a-main">
        <div class="a-heading">
          <h1>TEACHER PROFILE</h1>
        </div>
        {% if messages %}
      <div class="messages">
        {% for message in messages %}
          <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
            <button class="close-btn" onclick="this.parentElement.style.display='none';"><i class="fa-solid fa-xmark"></i></button>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      </div>
    {% endif %}
        <div class="profile-main">
          <div class="profile-container">
            <div class="profile-head">
              <div class="profile-name">
                <div class="profile-img">
                  <i class="fa-solid fa-user fa-2x"></i>
                </div>
                <h1>{{ user.username|capfirst }}</h1>
              </div>
              <i class="fa-solid fa-pencil profile-edit-btn"></i>
            </div>
            <div class="profile-content">
              <table class="profile-table">
                <tr>
                  <td class="profile-table-main">Email ID:</td>
                  <td class="profile-table-data">{{user.email}}</td>
                </tr>
              </table>
              <button class="password-change-btn">CHANGE PASSWORD</button>
            </div>
          </div>
          <div class="profile-edit-popup-box">
            <div class="heading">
              <h1>UPDATE DETAILS</h1>
            </div>
            <form action="" method="POST">
              {% csrf_token %}
              <div class="input-group pop">
                <i class="fas fa-envelope icon"></i>
                <input type="email" id="email" name="email" value="{{user.email}}" placeholder="Email"/>
              </div>
              <div class="btns">
                <button type="submit" class="update-btn">UPDATE</button>
                <a href="{% url 'teacher_profile' %}" class="cancel-btn">CANCEL</a>
              </div>
            </form>
          </div>
          <div class="password-change-popup-box">
            <div class="heading">
              <h1>CHANGE PASSWORD</h1>
            </div>
            <form action="{% url 'change_password' %}" method="POST">
              {% csrf_token %}
              <div class="input-group pop">
                <i class="fas fa-lock icon"></i>
                <input type="password" id="password1" name="old_password" placeholder="Old Password" required/>
                <button type="button" class="toggle-password">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
              <div class="input-group pop">
                <i class="fas fa-lock icon"></i>
                <input type="password" id="password2" name="new_password1" placeholder="New Password" required/>
                <button type="button" class="toggle-password">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
              <div class="input-group pop">
                <i class="fas fa-lock icon"></i>
                <input type="password" id="password3" name="new_password2" placeholder="Confirm Password" required/>
                <button type="button" class="toggle-password">
                  <i class="fas fa-eye"></i>
                </button>
              </div>
              <div class="btns">
                <button type="submit" class="update-btn">UPDATE</button>
                <a href="{% url 'teacher_profile' %}" class="cancel-btn">CANCEL</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static "js/index.js" %}" ></script>
  </body>
</html>
